
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#mapContainer {
  height: 100%;
  width: 100vw;
}

.leaflet-touch .leaflet-bar {
  border: 0;
  background-clip: padding-box;
}

.MuiDrawer-paper {
  width: 50%;
  align-items: center;
  overflow-y: hidden
}